# Step 1: Preprocess the Data

## Importing Dependencies, Loading data

In [2]:
#import tensorflow as tf
!pip install tensorflow==2.11

Collecting tensorflow==2.11
  Downloading tensorflow-2.11.0-cp39-cp39-macosx_10_14_x86_64.whl (244.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 244.3/244.3 MB 2.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:03
Requirement already satisfied: wrapt>=1.11.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (1.14.1)
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp39-cp39-macosx_10_9_x86_64.whl (980 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 980.5/980.5 kB 4.1 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: libclang>=13.0.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (16.0.6)
Requirement already satisfied: absl-py>=1.0.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (2.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (1.21.5)
Requirement already satisfied: astunparse>=1.6.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (3.3.0)
Requirement already satisfied: setuptools in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (63.4.1)
Collecting gast<=0.4.0,>=0.2.1
  Using cached gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: flatbuffers>=2.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (23.5.26)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (0.36.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (1.60.1)
Collecting keras<2.12,>=2.11.0
  Using cached keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
Requirement already satisfied: packaging in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (21.3)
Requirement already satisfied: termcolor>=1.1.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (2.4.0)
Collecting tensorboard<2.12,>=2.11
  Using cached tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
Requirement already satisfied: h5py>=2.9.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (3.7.0)
Requirement already satisfied: six>=1.12.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (1.16.0)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Using cached tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorflow==2.11) (4.9.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow==2.11) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (2.28.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (3.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.12,>=2.11->tensorflow==2.11) (2.27.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from packaging->tensorflow==2.11) (3.0.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow==2.11) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow==2.11) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow==2.11) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow==2.11) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow==2.11) (1.26.18)
Requirement already satisfied: idna<4,>=2.5 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow==2.11) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow==2.11) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow==2.11) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow==2.11) (2.1.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow==2.11) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/talieh/opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow==2.11) (3.2.2)
Installing collected packages: tensorflow-estimator, protobuf, keras, gast, tensorboard, tensorflow
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.2
    Uninstalling protobuf-4.25.2:
      Successfully uninstalled protobuf-4.25.2
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.4
    Uninstalling gast-0.5.4:
      Successfully uninstalled gast-0.5.4
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.8.0
    Uninstalling tensorflow-2.8.0:
      Successfully uninstalled tensorflow-2.8.0
Successfully installed gast-0.4.0 keras-2.11.0 protobuf-3.19.6 tensorboard-2.11.2 tensorflow-2.11.0 tensorflow-estimator-2.11.0

In [ ]:
import tensorflow as tf

In [2]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [1]:
tf. __version__

NameError: name 'tf' is not defined

In [1]:
print("name")

name

### What variable(s) are the target(s) for the model?

The target variable for our Neural Network model is "IS_SUCCESSFUL," which is a binary variable. When "IS_SUCCESSFUL" equals 1, it indicates that the applicant was successful after being funded by Alphabet Soup. Conversely, when "IS_SUCCESSFUL" equals 0, it signifies that the applicant was not successful.


### What variable(s) are the feature(s) for the model?
We considered all other variable except(EIN, NAME) as the features and input of our model.

## Preprocessing

In [2]:
print(application_df.columns)

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.reset_index(drop=True)
application_df = application_df.drop(columns=['EIN','NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

app_df = pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts())
application_types_to_replace = []
cutoff_value=500

for index, row in app_df.iterrows():
    if row['APPLICATION_TYPE'] < cutoff_value:
        application_types_to_replace.append(index)

print(application_types_to_replace)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_classification_gt_1=application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]
application_classification_gt_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

app_class_df=pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
cutoff=1000

classifications_to_replace=[]
for index, row in app_class_df.iterrows():
    if row['CLASSIFICATION']<cutoff:
        classifications_to_replace.append(index)
        
print(classifications_to_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [11]:

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
application_df.head(4)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1

In [13]:
application_df_cat=application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_got_dummies=pd.get_dummies(application_df, columns=application_df_cat)
application_df_got_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [16]:
application_df_got_dummies.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [17]:
len(application_df_got_dummies.columns)

44

In [18]:
# Split our preprocessed data into our features and target arrays

y=application_df_got_dummies.IS_SUCCESSFUL.values
X=application_df_got_dummies.drop(columns="IS_SUCCESSFUL").values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Step 2: Compile, Train, and Evaluate the Model

## Define the model and Determine the layers

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 80)                3520
_________________________________________________________________
dense_4 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

## Compile the model

In [26]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
from tensorflow.keras.callbacks import ModelCheckpoint

In [28]:
# Define the callback
checkpoint_callback = ModelCheckpoint(filepath='model_weights.h5',  # Filepath to save the weights
                                      save_weights_only=True,       # Only save the weights
                                      save_freq=5)                  # Save every five epochs

# Assuming you have your training data (X_train, y_train)
# Train the model with the defined callback
nn.fit(X_train, y_train, epochs=50, callbacks=[checkpoint_callback])

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 6s 238us/sample - loss: 58011.6800 - accuracy: 0.4927
Epoch 2/50
25724/25724 [==============================] - 5s 214us/sample - loss: 34664.6945 - accuracy: 0.4861
Epoch 3/50
25724/25724 [==============================] - 6s 215us/sample - loss: 49875.7570 - accuracy: 0.4933
Epoch 4/50
25724/25724 [==============================] - 6s 215us/sample - loss: 24240.1660 - accuracy: 0.5012
Epoch 5/50
25724/25724 [==============================] - 6s 215us/sample - loss: 9861.0623 - accuracy: 0.4960
Epoch 6/50
25724/25724 [==============================] - 6s 214us/sample - loss: 22865.5139 - accuracy: 0.5010
Epoch 7/50
25724/25724 [==============================] - 6s 218us/sample - loss: 12168.5130 - accuracy: 0.5072
Epoch 8/50
25724/25724 [==============================] - 6s 215us/sample - loss: 12188.4587 - accuracy: 0.5041
Epoch 9/50
25724/25724 [==============================] - 5s 214us/sample - loss: 17631.7934 - accuracy: 0.5028
Epoch 10/50
25724/25724 [==============================] - 6s 217us/sample - loss: 6957.1860 - accuracy: 0.4993
Epoch 11/50
25724/25724 [==============================] - 6s 215us/sample - loss: 7084.7775 - accuracy: 0.5106
Epoch 12/50
25724/25724 [==============================] - 6s 214us/sample - loss: 4881.1390 - accuracy: 0.5191
Epoch 13/50
25724/25724 [==============================] - 6s 214us/sample - loss: 868.4694 - accuracy: 0.5091
Epoch 14/50
25724/25724 [==============================] - 6s 221us/sample - loss: 3097.5585 - accuracy: 0.4951
Epoch 15/50
25724/25724 [==============================] - 5s 211us/sample - loss: 2076.0144 - accuracy: 0.5214
Epoch 16/50
25724/25724 [==============================] - 5s 212us/sample - loss: 972.4190 - accuracy: 0.5170
Epoch 17/50
25724/25724 [==============================] - 5s 213us/sample - loss: 3.6573 - accuracy: 0.5308
Epoch 18/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6500 - accuracy: 0.5806
Epoch 19/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6309 - accuracy: 0.6589
Epoch 20/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6266 - accuracy: 0.6627
Epoch 21/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.6336 - accuracy: 0.6571
Epoch 22/50
25724/25724 [==============================] - 5s 209us/sample - loss: 0.6313 - accuracy: 0.6508
Epoch 23/50
25724/25724 [==============================] - 5s 209us/sample - loss: 0.6283 - accuracy: 0.6556
Epoch 24/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6263 - accuracy: 0.6595
Epoch 25/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6279 - accuracy: 0.6598
Epoch 26/50
25724/25724 [==============================] - 5s 211us/sample - loss: 0.6391 - accuracy: 0.6371
Epoch 27/50
25724/25724 [==============================] - 5s 211us/sample - loss: 0.6241 - accuracy: 0.6644
Epoch 28/50
25724/25724 [==============================] - 9s 331us/sample - loss: 0.6770 - accuracy: 0.5545
Epoch 29/50
25724/25724 [==============================] - 5s 210us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 30/50
25724/25724 [==============================] - 5s 209us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 31/50
25724/25724 [==============================] - 6s 224us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 32/50
25724/25724 [==============================] - 6s 216us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 33/50
25724/25724 [==============================] - 5s 214us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 34/50
25724/25724 [==============================] - 7s 254us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 35/50
25724/25724 [==============================] - 6s 227us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 36/50
25724/25724 [==============================] - 6s 218us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 37/50
25724/25724 [==============================] - 6s 229us/sample - loss: 0.6911 - accuracy: 0.5324
Epoch 38/50
25724/25724 [==============================] - 6s 215us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 39/50
25724/25724 [==============================] - 5s 213us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 40/50
25724/25724 [==============================] - 6s 214us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 41/50
25724/25724 [==============================] - 6s 216us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 42/50
25724/25724 [==============================] - 5s 213us/sample - loss: 0.6913 - accuracy: 0.5324
Epoch 43/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 44/50
25724/25724 [==============================] - 5s 211us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 45/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 46/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 47/50
25724/25724 [==============================] - 5s 212us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 48/50
25724/25724 [==============================] - 5s 213us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 49/50
25724/25724 [==============================] - 6s 215us/sample - loss: 0.6912 - accuracy: 0.5324
Epoch 50/50
25724/25724 [==============================] - 5s 213us/sample - loss: 0.6913 - accuracy: 0.5324

## Train the model

## Evaluate the model using model_loss and model accuracy

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.8103 - accuracy: 0.6546
Loss: 0.8348025194549005, Accuracy: 0.6545772552490234

## Export the model to HDF5

In [30]:
# Export our model to HDF5 file

# Import necessary libraries
import h5py

# Save the model to HDF5 file
nn.save("AlphabetSoupCharity.h5")